// VARS
$font-size: 160px;
$navbarBackground: #f5f5f5 !default;
$bodyBackground: #f5f5f5 !default;
$navbarBackgroundHighlight: #f5f5f5 !default;
$navbarText:                #333 !default;
$navbarLinkColor:           #333 !default;
$navbarLinkColorHover:      #999 !default;

@import "screen";

// MIXINS
@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
       -moz-animation-delay: $delay;
         -o-animation-delay: $delay;
            animation-delay: $delay;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
       @-moz-keyframes #{$name} { @content; }
        @-ms-keyframes #{$name} { @content; }
         @-o-keyframes #{$name} { @content; }
            @keyframes #{$name} { @content; }
}

@mixin animation($animation) {
    -webkit-animation: $animation; /* Safari and Chrome */
       -moz-animation: $animation; /* Firefox */
         -o-animation: $animation; /* Opera */
            animation: $animation;
}

// STYLES
body {
    text-align: center;
    // background: whiteSmoke;
}

#clock {
    margin-top: 130px;
    margin-bottom: 100px;
    display: inline-block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    &:after {
        content: "";
        position: absolute;
        z-index: 0;
        width: 486px;
        height: 172px;
        bottom: -105px;
        left: 100px;
        background: rgba(0, 0, 0, 0.12);
        @include border-radius(50%);
        @include box-shadow(0px 0px 250px 130px rgba(0, 0, 0, 0.12));
        @include rotateX(80deg);
    }
}

.button-bar {
    margin: 0;
    list-style: none;
    padding-bottom: 36px;
    overflow: auto;

    li {
        float: right;
        margin-right: 20px;
        cursor: pointer;
    }
}

.reset-button {
    &:after, &:before {
        background: #ff3d3d; /* Old browsers */
        @include background-image(linear-gradient(left,  #ff3d3d 0%, #e00804 50%, #ff3d3d 100%));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3d3d', endColorstr='#ff3d3d',GradientType=1 ); /* IE6-9 */
    }
}

.pause-button {
    &:after, &:before {
        background: #45484d; /* Old browsers */
        @include background-image(linear-gradient(left,  #45484d 0%, #333333 50%, #45484d 100%));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#45484d',GradientType=1 ); /* IE6-9 */
    }
}

.toggle-button {
    // position: absolute;
    // z-index: 0;
    
    // top: -45px;
    height: 8px;
    width: 26px;

    padding-top: 5px; // have to add some padding to count for the space that moves when clicked
    border: none;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        height: 6px;
        width: 9px;
        left:0;
        right:0;
        top: 10px;
        margin-left:auto;
        margin-right:auto;
    }

    &:after {
        content: "";
        position: absolute;
        height: 8px;
        width: 26px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        @include border-radius(2px);
        @include box-shadow(0px 2px 4px -2px rgba(0, 0, 0, 0.5));
    }

    &:active {
        top: 5px;
    }
}

.plastic-border {
    background: #2a2a2a;
    display: inline-block;
    z-index: 5;
    position: relative;

    height: $font-size;
    min-width: 666px;
    padding: 10px;

    @include border-radius(10px);

    border: 5px inset whiteSmoke;
    @include box-shadow(0px 0px 0px 32px #FDFDFD, 
                        -2px -1px 0px 32px white, 
                        0px 1px 0px 33px #EEE, 
                        0px 6px 0px 30px #EEE, 
                        1px 6px 15px 25px rgba(128, 128, 128, 0.7));
}

.paused {
    -webkit-animation-play-state: paused; /* Safari and Chrome */
       -moz-animation-play-state: paused; /* Firefox*/
         -o-animation-play-state: paused; /* Opera */
            animation-play-state: paused;
}

.time {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
    height: $font-size;
    width: $font-size;
}

#minute {
    margin-right: 5px;
}

#decasecond {
    margin-left: 5px;
}

.digit {
    width: $font-size;
    height: $font-size/2;
    position: absolute;
    
    font-weight: bold;
    text-align: center;
    font-size: $font-size;

    display: block;
    z-index: 0;

    @include transform-origin(center, bottom);
    @include transform-style(preserve-3d);

    text-shadow: 1px 1px 0px whiteSmoke, -1px -1px 1px #030303;

    .front, .back {
        position: absolute;
        width: $font-size;
        height: $font-size/2;       
        overflow: hidden;

        left: 0;
        top: 0;
        @include backface-visibility(hidden);
        @include background-image(linear-gradient(#ffffff, #e5e5e5));
    }

    .front {
        line-height: $font-size;
        z-index: 10;

        @include border-top-left-radius(5px);
        @include border-top-right-radius(5px);
    }

    .back {
        line-height: 1px;
        @include rotateX(180deg);

        @include border-bottom-left-radius(5px);
        @include border-bottom-right-radius(5px);
    }
}

#second {
    .digit {
        @include animation(second-cycle 10s linear infinite);
    }

    .one {
        @include animation-delay(-9s);
    }

    .two {
        @include animation-delay(-8s);
    }

    .three {
        @include animation-delay(-7s);
    }

    .four {
        @include animation-delay(-6s);
    }

    .five {
        @include animation-delay(-5s);
    }

    .six {
        @include animation-delay(-4s);
    }

    .seven {
        @include animation-delay(-3s);
    }

    .eight {
        @include animation-delay(-2s);
    }

    .nine {
        @include animation-delay(-1s);
    }
}

#decasecond {
    .digit {
        @include animation(decasecond-cycle 60s linear infinite);
    }

    .one {
        @include animation-delay(-50s);
    }

    .two {
        @include animation-delay(-40s);
    }

    .three {
        @include animation-delay(-30s);
    }

    .four {
        @include animation-delay(-20s);
    }

    .five {
        @include animation-delay(-10s);
    }
}

#minute {
    .digit {
        @include animation(minute-cycle 600s linear infinite);
    }

    .one {
        @include animation-delay(-540s);
    }

    .two {
        @include animation-delay(-480s);
    }

    .three {
        @include animation-delay(-420s);
    }

    .four {
        @include animation-delay(-360s);
    }

    .five {
        @include animation-delay(-300s);
    }

    .six {
        @include animation-delay(-240s);
    }

    .seven {
        @include animation-delay(-180s);
    }

    .eight {
        @include animation-delay(-120s);
    }

    .nine {
        @include animation-delay(-60s);
    }
}

#decaminute {
    .digit {
        @include animation(decaminute-cycle 3600s linear infinite);
    }

    .one {
        @include animation-delay(-3000s);
    }

    .two {
        @include animation-delay(-2400s);
    }

    .three {
        @include animation-delay(-1800s);
    }

    .four {
        @include animation-delay(-1200s);
    }

    .five {
        @include animation-delay(-600s);
    }
}

@include keyframes(second-cycle) {
    0%, 5% { 
        z-index: 1;
        @include transform(none);
    }
    10% {
        z-index: 2;
        @include rotateX(-180deg);
    }
    10.0001%, 20% {
        z-index: 1;
        @include rotateX(-180deg);
    }
    20.0001%, 80% {
        visibility: hidden;
        @include rotateX(-180deg);
    }
    90% {
        visibility: hidden;
    }
    90.0001%, 100% {
        z-index: 0;
        @include transform(none);
    }
}

@include keyframes(decasecond-cycle) {
    0%, 15.84% { 
        z-index: 1;
        @include transform(none);
    }
    16.7% {
        z-index: 2;
        @include rotateX(-180deg);
    }
    16.7001%, 33.33% {
        z-index: 1;
        @include rotateX(-180deg);
    }
    33.34%, 80% {
        visibility: hidden;
        @include rotateX(-180deg);
    }
    98.31% {
        visibility: hidden;
        // z-index: 0;
    }
    98.32%, 100% {
        z-index: 0;
        @include transform(none);
    }
}

@include keyframes(minute-cycle) {
    0%, 9.9167% { 
        z-index: 1;
        @include transform(none);
    }
    10% {
        z-index: 2;
        @include rotateX(-180deg);
    }
    10.0001%, 20% {
        z-index: 1;
        @include rotateX(-180deg);
    }
    20.0001%, 80% {
        visibility: hidden;
        @include rotateX(-180deg);
    }
    99.8332% {
        visibility: hidden;
    }
    99.8333%, 100% {
        z-index: 0;
        @include transform(none);
    }
}

@include keyframes(decaminute-cycle) {
    0%, 16.6528% { 
        z-index: 1;
        @include transform(none);
    }
    16.6667% {
        z-index: 2;
        @include rotateX(-180deg);
    }
    16.6668%, 33.3334% {
        z-index: 1;
        @include rotateX(-180deg);
    }
    33.3335%, 80% {
        visibility: hidden;
        @include rotateX(-180deg);
    }
    99.9721% {
        visibility: hidden;
    }
    99.9722%, 100% {
        z-index: 0;
        @include transform(none);
    }
}

.message {
    display: block;
    font-size: 42px;
    line-height: 42px;
    color: #bbb;
    text-shadow: -1px -1px 0 #A0A0A0, 1px 1px 1px white;

    small {
        display: block;
        font-size: 16px;
        font-weight: 200;
        line-height: 1.5;
        text-shadow: none;
    }
}