// VARS
$font-size: 160px;
$navbarBackground: #f5f5f5 !default;
$bodyBackground: #f5f5f5 !default;
$navbarBackgroundHighlight: #f5f5f5 !default;
$navbarText:                #333 !default;
$navbarLinkColor:           #333 !default;
$navbarLinkColorHover:      #999 !default;

@import "compass_twitter_bootstrap/variables";
@import "compass_twitter_bootstrap/mixins";
@import "screen";

// Progress bar buttons
// --------------------------------------------------
@mixin ctb-gradient-striped($color, $angle: 45deg) {
  background-color: $color;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
}

// Background sizing
@mixin ctb-background-size($size) {
  -webkit-background-size: $size;
     -moz-background-size: $size;
       -o-background-size: $size;
          background-size: $size;
}

@mixin active-progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}

// Makes a button behave like a progress bar while is waiting
// for an action to complete (disabled)
.btn.disabled, .btn[disabled] {
  &.btn-progress {
    background-repeat: repeat;
    @include active-progress-bar;

    @include ctb-gradient-striped(darken($btnBackgroundHighlight, 10%));

    // should be the same size of the progress bar @keyframe
    // background position (progress-bars.less)
    @include ctb-background-size(40px 40px);

    // COLORS
    // ------
    &.btn-primary {
      @include ctb-gradient-striped($btnPrimaryBackgroundHighlight);
    }

    // Danger (red)
    &.btn-danger {
      @include ctb-gradient-striped($btnDangerBackgroundHighlight);
    }

    // Success (green)
    &.btn-success {
      @include ctb-gradient-striped($btnSuccessBackgroundHighlight);
    }

    // Info (teal)
    &.btn-info {
      @include ctb-gradient-striped($btnInfoBackgroundHighlight);
    }

    // Warning (orange)
    &.btn-warning {
      @include ctb-gradient-striped($btnWarningBackgroundHighlight);
    }
  }
}

// Page Styles
// ----------------------------------------------------------------------------
.container {
  margin-top: 40px;
}

#buttons {
  text-align: center;

  li {
    margin-top: 20px;   
  }
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  @include ctb-box-sizing(border-box);
}

.inline {
  display: inline-block;
  margin-right: 10px;
}
