// $navbarBackgroundHighlight: #FFF !default;
// $navbarBackground: 					#FFF !default;
// $navbarText:                #333 !default;
// $navbarLinkColor:           #333 !default;
// $navbarLinkColorHover:      #999 !default;

$navbarBackground: #f5f5f5 !default;
$bodyBackground: #f5f5f5 !default;
$navbarBackgroundHighlight: #f5f5f5 !default;
$navbarText:                #333 !default;
$navbarLinkColor:           #333 !default;
$navbarLinkColorHover:      #999 !default;

$brandedFontFamily: 'Amatic SC', Helvetica, Arial, sans-serif;
$bodyFontFamily: 'Sanchez', Georgia, "Times New Roman", Times, serif;
$baseFontFamily: $bodyFontFamily;

@import "compass/reset";
@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

.small-font {
	color: #000;
	font-family: $bodyFontFamily;
}

.centered {
	position: absolute;
	top: 50%;
	margin-top: -25%;
	left: 50%;
	margin-left: -25%;
}

.centered-content {
	display: block;
}

.big-header {
	display: inline-block;
	margin: 0 auto 20px;

	font-family: $brandedFontFamily;
	font-size: $baseFontSize * 20;
	line-height: 1;

	span {
		display: block;
		margin-top: 15px;

		font-size: 0;

		background-image: -moz-repeating-linear-gradient(-39deg, transparent, transparent 2.5px, black 3.5px);
		background-image: -webkit-repeating-linear-gradient(-39deg, transparent, transparent 2.5px, black 3.5px);
		background-image: repeating-linear-gradient(-39deg, transparent, transparent 2.5px, black 3.5px);

		background-size: 5.5px 6px;
		height: 5px;

		text-align: center;
	}

	small {
		display: inline-block;
		padding: 0 20px;
		margin-top: -13px;

		font-size: $baseFontSize * 1.7;

		background: $bodyBackground;
	}
}

// Navbar override
// ----------------------------------------------------------------------------
.navbar .nav > li > a {
	text-shadow: none;
	text-decoration: underline;
}

.navbar-inner {
	border: none;
}

.navbar-fixed-bottom .navbar-inner {
	@include ctb-box-shadow(none);
}

// Fork me
// ----------------------------------------------------------------------------
.fork-me {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

// Media queries
// ----------------------------------------------------------------------------
@media (max-width: 979px) {
	// Navbar override
	// ----------------------------------
	.navbar-inner {
		.container {
			margin-top: 0;
		}
	}

	// Fork me
	// ----------------------------------
	.fork-me {
		position: absolute;
		top: 0;
		left: 0;
		border: 0;
		@include transform(rotate(270deg));
	}
}