$navbarBackgroundHighlight: #FFF !default;
$navbarBackground: 			#FFF !default;
$navbarText:                #333 !default;
$navbarLinkColor:           #333 !default;
$navbarLinkColorHover:      #999 !default;

@import "compass/reset";
@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

.small-font {
	color: #000;
	font-family: 'Sanchez', serif;
}

.centered {
	position: absolute;
	top: 50%;
	margin-top: -25%;
	left: 50%;
	margin-left: -25%;
}

.big-header {
	display: inline-block;
	margin: 0 auto 20px;

	font-family: 'Amatic SC', serif;
	font-size: 236px;
	line-height: 1;

	span {
		display: block;
		margin-top: 15px;

		font-size: 0;

		background-image: -moz-repeating-linear-gradient(-39deg, transparent, transparent 2.5px, black 3.5px);
		background-image: -webkit-repeating-linear-gradient(-39deg, transparent, transparent 2.5px, black 3.5px);
		background-image: repeating-linear-gradient(-39deg, transparent, transparent 2.5px, black 3.5px);

		background-size: 5.5px 6px;
		height: 5px;

		text-align: center;
	}

	small {
		display: inline-block;
		padding: 0 20px;
		margin-top: -13px;

		font-size: 24px;

		background: white;
	}
}

.navbar .nav > li > a {
	font-family: 'Sanchez', serif;
	text-shadow: none;
	text-decoration: underline;
}